/* Base palette:
Chocolate, slategrey, on #304050 base; orange highlights*/

$base: #304050;
$second: chocolate;
$third: slategrey;
$linklight: orange;
$dark: #a05030;

$header: verdana;
$minor: courier;

$sm: 600px;
$md: 768px;
$lg: 1024px;

@mixin xsmall {
    @media only screen and (max-width: $sm) {
        @content;
    }
}
@mixin small {
    @media only screen and (min-width: ($sm +1)) and (max-width: $md) {
        @content;
    }
}
@mixin medium {
    @media only screen and (min-width: ($md +1)) and (max-width: $lg) {
        @content;
    }
}
@mixin large {
    @media only screen and (min-width: ($lg +1)) {
        @content;
    }
}

body {
    margin: 0;
    padding: 0;
}
main {
    background-color: $base;
}
nav {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    font-size: 25px;
    @include xsmall {
        font-size: 15px;
    }
    @include small {
        font-size: 20px;
    }
}
.toNav {
    display: flex;
    justify-content: end;
    grid-area: top;
}
a {
    &:link {
        color: $second;
        text-decoration: none;
    }
    &:hover {
        color: $linklight;
    }
    &:visited {
        color: $third;
    }
}
.box {
    min-height: 95vh;
    border: 3px solid $third;
    border-radius: 40px 10px 40px 10px;
    margin: 2% 10%;
    &__spaced {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10vh;
        @include xsmall {
            flex-direction: column;
        }
    }
    &__icons {
        color: $second;
        display: flex;
        justify-content: center;
        & > p {
            color: $second;
        }
        &--grid {
            display: grid;
            row-gap: 40px;
            margin: 30px;
            text-align: center;
            padding-bottom: 20vh;
            @include xsmall {
                grid-template-columns: repeat(5, 35px);
                column-gap: 35px;
                font-size: 9px;
            }
            @include small {
                column-gap: 40px;
                grid-template-columns: repeat(5, 45px);
                font-size: 12px;
            }
            @include medium {
                grid-template-columns: repeat(7, 45px);
                column-gap: 55px;
                font-size: 15px;
            }
            @include large {
                grid-template-columns: repeat(7, 55px);
                column-gap: 6vw;
                font-size: 18px;
            }
        }
    }
    & > h1 {
        margin-left: 2vw;
        margin-top: 2vh;
    }
}

.box1 {
    @include xsmall {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    @include small {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "header ."
            ". one"
            "button ."
            ". two"
            ". top";
    }
    @include medium {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "header . "
            ". one"
            "button ."
            ". two"
            ". top";
    }
    @include large {
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        grid-template-areas:
            "header . ."
            ". one two"
            ". . top";
    }
    &__header {
        grid-area: header;
        margin: 30px;
    }
    &__element {
        &--main {
            grid-area: one;
        }
        &--collapsible {
            & > div {
                display: none;
            }
            & > img {
                display: block;
            }
            grid-area: two;
        }
    }
    &__button {
        background-color: $base;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 150px;
        border-radius: 20px;
        background-color: $base;
        color: $second;
        margin: 20px;
        &:hover {
            background-color: $third;
            color: $linklight;
        }
    }
}

.box2 {
    margin: 0 10vw;
    @include xsmall {
        display: flex;
        flex-direction: column;
    }
    @include small {
        display: flex;
        flex-direction: column;
    }
    @include medium {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @include large {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
    & > div > a {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

.landing {
    border: 3px solid $third;
    border-radius: 40px 10px 40px 10px;
    margin: 2%;
    background-color: $dark;
    color: $base;
    max-height: 80vh;
    &__text {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        font-weight: bolder;
        @include xsmall {
            flex-direction: column;
        }
    }
}
.land {
    margin-left: 32vw;
    width: 33vw;
}
.foot {
    display: flex;
    justify-content: center;
    color: $dark;
    max-height: 60vh;
}

.top {
    margin: 40px;
}

.invisible {
    color: $base;
    margin: 0;
    text-align: center;
}

li,
p {
    color: $third;
    font-family: $minor;
    margin: 3%;
    font-size: 18px;
}
a,
button {
    font-weight: bolder;
    font-family: $minor;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    min-height: 1em;
}
button {
    border-color: $dark;
}
h1 {
    font-family: $header;
    margin: 2%;
}
h2 {
    margin: 4%;
    font-family: $header;
}

img {
    margin: 1%;
}

#be-hidden {
    display: none;
}

#swapout {
    fill: $third;
    margin: 0 4vw;
}

#sticky_nav {
    overflow-x: hidden;
    position: fixed;
    height: 100vh;
    width: 8vw;
    background-color: $dark;
    left: 0;
    writing-mode: vertical-lr;
    text-orientation: sideways;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & > a {
        color: $base;
        text-align: center;
    }
    @include xsmall {
        display: none;
    }
}
.sticky {
    position: fixed;
    top: 0;
}
